button{
    background-color: rgb(241, 91, 236);
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 100px;
}

button:hover{
    cursor: pointer;
    background-color: cornflowerblue;
}

button:active{
    cursor: pointer;
    background-color: darkorchid;
}

a{
    color: rgb(109, 206, 251);
    text-decoration: none;
}

a:visited{
    color: deeppink;
    text-decoration: underline;
}

a[target="_blank"]{
    color: cornflowerblue;
}

a[href="stmikkaputama.ac.id"]{
    color: darksalmon;
}

input[name="Jurusan"]{
    background-color: aquamarine;
    border: none;
    padding: 10px;
}